/*
  If you prefer your CSS Sassy. Run npm install -s node-sass and change the extension and import of this file.
  Or use Less or whatever form of styling brings you the most Joy. Bonus points for following a CSS methodology. (BEM, OOCSS, ETC)
*/

.animal-crossing-btn {
  font-family: 'Animal-Crossing', serif;
  text-align: center;
  color: white;
  background-color: #5555FF;
  border-radius: 15px;
  display: block;
  text-decoration: none;
  width: fit-content;
  cursor: pointer;
  padding: 10px;
}

.animal-crossing-container {
  background-image: url('img/wood-texture.jpg');
  display: block;
  margin: 0 auto;
  border-radius: 12px;
  text-align: center;
  padding: 5px;
  width: 40%;
  min-width: fit-content;
  position: relative;
  top: 25%;
}

.animal-crossing-font {
  font-family: 'Animal-Crossing', serif;
  color: gold;
}

.animal-crossing-header {
  font-family: 'Animal-Crossing', serif;
  color: gold;
  font-size: 300%;
  overflow-wrap: break-word;
  hyphens: auto;
  display: block;
}

.animal-crossing-img {
  display: flex;
  margin: 0 auto;
  width: 200px;
  height: 200px;
  background-size: contain;
  background-repeat: no-repeat;
}

.btn-container {
  padding-top: 10px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  justify-content: center;
}

.delete {
  background-color: red;
  color: white;
  border-radius: 15px;
  cursor: pointer;
}

.error-msg {
  color: white;
  background-color: red;
  font-family: 'Animal-Crossing', serif;
  width: fit-content;
  margin: 0 auto;
  padding: 5px;
  border-radius: 3px;
}

.gyroid {
  background-image: url('img/Gyroid.png');
}

.hide {
  display: none;
}

.isabelle {
  background-image: url('img/Isabelle.png');
}

.player-roster {
  background-color: #F9E4B7;
  border-radius: 12px;
  margin: 0 auto;
  padding: 5px;
  display: block;
  overflow: auto;
  width: fit-content;
}

.player-roster-cell {
  padding: 5px;
}

.rover {
  background-image: url('img/Rover.png');

  /* Rover's image is skinnier than the others,
  so 200px width makes him a bit off center. Overriding it to 100px seems to
   do the trick */

  width: 100px;
}

.tomnook {
  background-image: url('img/TomNook.png');
}

.villager {
  background-image: url('img/Villager.png');
}

#root {
  width: inherit;
  height: inherit;
}

@font-face {
  font-family: 'Animal-Crossing';
  src: url('fonts/SoftCompound.ttf');
}

a {
  text-decoration: none;
  text-align: center;
}

body {
  margin: 1em;
  background-image: url('img/animal-crossing-grass.jpg');
  font-family: 'Helvetica', serif;
  height: 100vh;
  min-height: fit-content;
}

input,
select {
  margin-top: 5px;
  padding: 5px;
  border-radius: 5px;
}
