/*
  If you prefer your CSS Sassy. Run npm install -s node-sass and change the extension and import of this file.
  Or use Less or whatever form of styling brings you the most Joy. Bonus points for following a CSS methodology. (BEM, OOCSS, ETC)
*/

body {
  margin: 1em;
  background-image: url('img/animal-crossing-background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Helvetica', serif;
  height: 100vh;
}

#root {
  width: inherit;
  height: inherit;
}

#login {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  text-align: center;
  background-color: rgba(200, 256, 200, 0.5);
  padding: 10px;
  border-radius: 12px;
  top: 50%;
}

#login-input > input {
  padding: 10px;
}

#login-input > div {
  padding: 3px;
}

@font-face {
  font-family: 'Animal-Crossing';
  src: url('fonts/Animal-Crossing-Wild-World.ttf');
}

.animal-crossing-header {
  font-family: 'Animal-Crossing', serif;
  color: gold;
  font-size: 400%;
}

.animal-crossing-btn {
  text-align: center;
  color: white;
  background-color: #55FF55;
  border-radius: 15px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
}

#homepage {
  background-image: url('img/wood-texture.jpg');
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 12px;
  text-align: center;
  padding: 10px;
  width: 40%;
}

.almost-centered {
  position: relative;
  top: 50%;
  transform: translateY(-75%);
}
