/*
  If you prefer your CSS Sassy. Run npm install -s node-sass and change the extension and import of this file.
  Or use Less or whatever form of styling brings you the most Joy. Bonus points for following a CSS methodology. (BEM, OOCSS, ETC)
*/

body {
  margin: 1em;
  background-image: url('img/animal-crossing-grass.jpg');
  font-family: 'Helvetica', serif;
  height: 100vh;
  overflow: hidden;
}

#root {
  width: inherit;
  height: inherit;
}

@font-face {
  font-family: 'Animal-Crossing';
  src: url('fonts/SoftCompound.ttf');
}

.animal-crossing-header {
  font-family: 'Animal-Crossing', serif;
  color: gold;
  font-size: 300%;
  overflow-wrap: break-word;
  hyphens: auto;
}

.animal-crossing-font {
  font-family: 'Animal-Crossing', serif;
  color: gold;
}

.animal-crossing-btn {
  font-family: 'Animal-Crossing', serif;
  text-align: center;
  color: white;
  background-color: #5555FF;
  border-radius: 15px;
  display: block;
  text-decoration: none;
  width: fit-content;
  cursor: pointer;
  padding: 10px;
}

.animal-crossing-box {
  background-image: url('img/wood-texture.jpg');
  display: block;
  margin: 0 auto;
  border-radius: 12px;
  text-align: center;
  padding: 10px;
  width: 50%;
  position: relative;
  top: 25%;
}

a {
  text-decoration: none;
  text-align: center;
}

.btn-container {
  padding-top: 10px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  justify-content: center;
}

.error-msg {
  color: red;
}

.hide {
  display: none;
}

.player-roster {
  background-color: #F9E4B7;
  border-radius: 12px;
  margin: 0 auto;
  padding: 5px;
}
